@media screen and (min-width:768px) {
  .container-custom{
    width: 70% !important;
  }
}

@media screen and (max-width:768px) {
  .container-custom{
    width: 100% !important;
  }
}

h1{
  text-align: center;
  padding: 80px 0 30px 0;
}

.link{
  text-decoration: none;
}